.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

#video {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  object-fit: cover;
}
h3{
  color: white;
}

.buttons a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  text-decoration: none;
  background-color: blue;
  border-radius: 4px;
  margin: 10px;
}
/*
@media only screen and (max-width: 480px) {
  #video {
    width: 100vw;
    height: 100vh;
    height: auto;
    object-fit: cover;

  }
  .buttons a {
    font-size: 14px;
    padding: 8px 16px;
  }
}
*/
